# Server Configuration
PORT=5001
NODE_ENV=development

# Database Configuration
MONGO_URI=your_mongodb_connection_string

# JWT Secret for Authentication
JWT_SECRET=your_jwt_secret

# Admin API Key
ADMIN_API_KEY=your_random_api_key_here 